

@import "../node_modules/bootstrap/scss/bootstrap.scss";


/* Variables */

$titulos: #9c79e4;
$parrafo: #364f6b;
$menu: black;

$colors: (

    titulos: #9c79e4,
    parrafo: #364f6b,
    menu: black,
);


@each $name, $color in $colors {
    .color-#{$name} {color: $color;}
}


/*Estructura*/

* {box-sizing: border-box;}

body {

    &.fondo-home {

    background-image: url("../fotos/fondos/fondodos.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "Montserrat";
    min-height: 100vh;

    }

    &.fondo-resto {

    background-color: #fffdfb;
    font-family: "Montserrat";
    padding: 0;

    }


    header {
    
        div {

            nav {

                button {
                    
                    &.navbar-toggler {
                    
                    background-color: $titulos;
                    font-size: 2rem;

                    }

                    i {
                    color: white;
                    }
                }
              
                div {

                    ul {

                        li {

                        

                            a {
            
                                color: $menu;
                                font-weight: bold;
            

                                &:hover {
                            
                                color: inherit; 
                                text-decoration: none;

                                }
                                
                                &.box {
            
                                border-bottom: 4px solid black;
            
                                }
                        
                            }
                        }
                    }
                }
            }
        }
    }
}
    
    footer {

    padding: 0;
    text-align: center;
    margin-top: 12px;

        }



/*Headings*/

h1 {

text-align: center;
padding: 0;
font-size: 35px;
text-decoration: none;
font-weight: bold;
letter-spacing: 4px;
margin-bottom: 50px;
margin-top: 10px;
display: none;


    &.titulo-home {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 65px;
    letter-spacing: 8px;
    color: black;
    display: block;
    font-family: "Lora";

    }

}

h2.hhome {

text-align: center;
padding: 0;
font-size: 40px;
font-family: "Lora";
text-decoration: none;
font-weight: bold;
letter-spacing: 4px;
margin-bottom: 380px;


}

h4 {
text-align: center;
padding: 0;
font-size: 30px;
font-family: "Montserrat";
letter-spacing: 2px;
margin-bottom: 70px;
margin-top: 70px;


}

/*Listas*/


ul {

    &.menu-index {

    list-style: none;
    margin-bottom: 1rem;
    padding: 0;
    font-size: 25px;
    
    

        li {

        color: black; 
        display: inline-block;
        font-weight: bold; 
        margin-left: 40px;

            a {

            color: inherit;
            text-decoration: none;

            }

            &.box {
            
            border-bottom: 4px solid black;
            
            }
        }
    }

}




/*Cards*/

.card {
    
    
    border-color: $titulos;
    border-width: 2px;
    box-shadow: 1px 2px 4px #424242;
    padding: 1rem;
    
    
    .card-body {
        background-color: #fdfdfd;
        
        
        .card-title { 
            font-family: "Montserrat"; 
            font-size: 22px; 
            text-align: center; 
            color: #364f6b; 
            font-weight: bold;
        }
        
        .card-text {
            font-family: "Montserrat";
            color: $parrafo;
            line-height: 1.4;
        }

    }

}

.img-perfil {padding: 1rem ;}



/*Texto*/

.mellamo {

font-family: "Montserrat";
font-size: 15px;
text-align: center;
line-height: 1.4;
padding: 0;
color: $parrafo;
font-weight: normal;

}


/*Formulario*/

div {
    
    label {

    padding: 1rem;
    padding-left: 0;
    font-size: 25px;
    display: inline-block;
    font-family: "Montserrat" 

    } 

    input {

    width: 250px;
    height: 40px;
    display: inline-block;

    &.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: $titulos;
    outline: 0;
    box-shadow: 1px 2px 4px #424242;
    
        }

    } 
}  

textarea {

    width: 450px;
    height: 250px;
    margin:0;
    display: inline-block;

    &:focus {
    color: #495057;
    background-color: #fff;
    border-color: $titulos;
    outline: 0;
    box-shadow: 1px 2px 4px #424242;
    
    }


    
}



button.btn {

    font-size: 18px;
    
    border-color: black;

    color: $parrafo;

    font-family: "Montserrat";

    &:hover {
        background-color: $titulos; 
        color: whitesmoke;
        border-color: whitesmoke;
            }

}


/*Flex*/

.d-flex 

{

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;

}

div {

    &.contacto {
    
    margin-top: 10px;
    font-size: 19px;

    }
}

/* Responsive */

img {

max-width: 100%;

}


/*
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {body.contenedor {max-width: 540px; margin: auto;} }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {body.contenedor {max-width: 720px; margin: auto;}}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {body.contenedor {max-width: 960px; margin: auto;}}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {body.contenedor {max-width: 1140px; margin: auto;}}

*/

@media (max-width: 992px) {

ul.menu-index {
display: none;
}
    
h1 {font-size: 20px;}

}

li {

    &.box {

    border-bottom: 0px solid white;

    }

}


@media (min-width: 993px) {

li {

    &.index {
    
        display: none;

        }
    
    &.box {

    border-bottom: 4px solid $menu;

    }
    }


}



